
</div>
<div class="footer-padding"></div>
  <div class="footer navbar-fixed-bottom">
    <p>Made with ❤️ by Akash Mukherjee</p>
    <ul>
      <li>
        <a class="socials insta" href="https://www.instagram.com/memukherjee/"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a class="socials fb" href="https://www.facebook.com/akkaaash/"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a class="socials github" href="https://github.com/memukherjee"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a class="socials linkedin" href="https://www.linkedin.com/in/memukherjee/"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>
        <a class="socials twitter" href="https://twitter.com/memukherjee1"><i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
